# Database - Neon PostgreSQL
DATABASE_URL="postgresql://user:password@host.region.aws.neon.tech/neondb?sslmode=require"

# NextAuth (Auth.js v5)
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_TRUST_HOST="true"

# MercadoPago
# MercadoPago (credenciales de prueba)
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=APP_USR-74e7e81d-e87f-49b4-a4b2-a8df6b406a59
MERCADOPAGO_ACCESS_TOKEN=APP_USR-8018842547386885-021822-809ee0d25b48fc95cde78ff1bc2b8115-3054581112

# Resend (emails)
RESEND_API_KEY="re_xxxx"
EMAIL_FROM="Simulador VR <noreply@tudominio.com>"
EMAIL_FALLBACK="fallback@tudominio.com"
